.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0 0 0 / 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        position: relative;
        border-radius: 3rem;
        background-color: #fff;
        width: 55.2rem;
        transform: scale(0.5);
        transition: 0.4s all;
        padding: 3.2rem;

        &.active {
            transform: scale(1);
        }
    }

    &__close {
        @include button-reset;
        background-image: url("../../images/close.png");
        position: absolute;
        top: 2.7rem;
        right: 2.7rem;
        width: 1.8rem;
        height: 1.8rem;
    }

    &__title {
        font-weight: 500;
        color: #000;
        font-size: 2.8rem;
        line-height: 4rem;
    }

    &__text {
        font-weight: 400;
        color: #808080;
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-top: 1.6rem;
        max-width: 42.5rem;
        width: 100%;
    }

    &__labelRub {
        display: block;
        font-weight: 500;
        font-size: 1.4rem;
        color: #000;
        line-height: 2.4rem;
        margin: 2.4rem 0 .8rem;
    }

    &__inputRub {
        display: block;
        width: 100%;
        height: 4rem;
        border: 1px solid #DFE3E6;
        border-radius: 3px;
        padding-left: 1rem;
        color: #000;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2.4rem;
        caret-color: #808080;
        transition: all .1s ease-in;

        &::placeholder {
            color: #BEC5CC;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
        }

        &:hover {
            border: 1px solid #000
        }

        &:focus {
            border: 1px solid #DFE3E6;
            outline: none;
        }

        &:disabled {
            border: 1px solid #808080;
        }

        &__error {
            border: 1px solid #EA0029;
        }
    }

    &__error {
        display: none;
        font-weight: normal;
        line-height: 1.2rem;
        font-size: 1rem;
        color: #EA0029;
        margin-top: .4rem;
    }

    &__calc {
        @include button-reset;
        color: #EA0029;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-top: .8rem;
        transition: all .1s ease-in;

        &:hover {
            color: #F53A31;
        }

        &:active {
            color: #EA0029;
        }
    }

    &__decrease {
        display: flex;
        align-items: center;
        margin: 2.4rem 0 4rem;
    }

    &__decreaseText {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: #000;
        margin-right: 3.2rem;
    }

    &__decreaseBtn {
        @include button-reset;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2.4rem;
        padding: 0 1.2rem;
        height: 3.6rem;
        border-radius: 5rem;
        background-color: #EEF0F2;
        color: #000;
        transition: all .1s ease-in;

        &:not(:last-child) {
            margin-right: 1.6rem;
        }

        &--active {
            @include linear-gradient;
            color: #fff;
        }

        &:hover {
            background: #DFE3E6;
            color: #000;
        }

        &:active {
            @include linear-gradient;
            color: #fff;
        }
    }

    &__add {
        @include button-reset;
        @include linear-gradient;
        width: 100%;
        height: 5.6rem;
        border-radius: .6rem;
        color: #fff;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        box-shadow: 0 0 2.4rem rgba(234, 0, 41, 0.33);

        &:hover,
        &:active {
            background-color: #EA0029;
        }

        &:disabled {
            background-color: #BEC5CC;
            box-shadow: none;
        }
    }
}